body {
	background-color: black;
	font-family: avenir;
}

#text {
	color: white;
	margin-top: 400px;
	font-family: avenir;
	font-weight: bold;
	font-size: 60px;
}

img {
	display: none;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    text-decoration: none;
    color: white;
}

a:active {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #817f80;
}