body {
	background-color: #002266;
}


/* div that contains Trump's head, the caption, and the headline.  
this div is what is used to move those elements around the page */
#trump-container {
	margin-top: 0px;
	position: absolute;
	width: 99%;
	z-index: 2;
}


/* div that contains Trump's head, tagline, title, and all garbage. */
.container {
	position: absolute;
	width: 99%;
	z-index: -1;
	left: 20%;
}


/* "TRUMP" */
.title {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	font-size: 200px;
	letter-spacing: 15px;
	left: 420px;
	text-align: center;
	z-index: -1;
	color: white;
}


/* "MAKE AMERICA GREAT AGAIN" */
.tagline {
	position: absolute;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	text-align: center;
	margin-top: 200px;
	font-size: 37.5px;
	letter-spacing: 4px;
	left: 465px;
	z-index: 1;
	color: white;
}


/* red border around page to represent campaign poster */
.line-border {
	height: 1135px;
	width: 98.5%;
	display: block;
	position: absolute;
	top: 100px;
	border: 10px solid #9E1B08;
	z-index: -1;
}


/* blue div behind stars */
#blue-star-background {
	height: 210px;
	width: 1010px;
	background-color: #002266;
	display: inline-block;
	position: absolute;
	top: 0px;
}


/* Stars */
#star-five {
   margin: 50px 0;
   position: relative;
   display: inline-block;
   color: #9E1B08;
   width: 0px;
   height: 0px;
   border-right:  100px solid transparent;
   border-bottom: 70px  solid #9E1B08;
   border-left:   100px solid transparent;
   -moz-transform:    rotate(35deg);
   -webkit-transform: rotate(35deg);
   -ms-transform:     rotate(35deg);
   -o-transform:      rotate(35deg);
}
#star-five:before {
   border-bottom: 80px solid #9E1B08;
   border-left: 30px solid transparent;
   border-right: 30px solid transparent;
   position: absolute;
   height: 0;
   width: 0;
   top: -45px;
   left: -65px;
   display: inline-block;
   content: '';
   -webkit-transform: rotate(-35deg);
   -moz-transform:    rotate(-35deg);
   -ms-transform:     rotate(-35deg);
   -o-transform:      rotate(-35deg);

}
#star-five:after {
   position: absolute;
   display: inline-block;
   color: #9E1B08;
   top: 3px;
   left: -105px;
   width: 0px;
   height: 0px;
   border-right: 100px solid transparent;
   border-bottom: 70px solid #9E1B08;
   border-left: 100px solid transparent;
   -webkit-transform: rotate(-70deg);
   -moz-transform:    rotate(-70deg);
   -ms-transform:     rotate(-70deg);
   -o-transform:      rotate(-70deg);
   content: '';
}


/* this is the div that holds Trump's head and jaw */
.trump {
	position: absolute;
	display: block;
	left: 500px;
	margin-top: 150px;
}


/* pieces that make up Trump's head */
#head {
	position: relative;
	display: block;
	z-index: -1;
}

#jaw {
	z-index: 2;
	display: block;
	margin-left: 81px;
	margin-top: -160px;
}


/* garbage that we will feed the Trump */
#bottle {
	display: inline-block;
	top: 170px;
	left: 780px;
	z-index: 3;
}

#paper {
	display: inline-block;
	top: 170px;
	left: 500px;
	z-index: 3;
}

#apple {
	display: inline-block;
	top: 170px;
	left: 550px;
	z-index: 3;
}


#trashcan {
	display: inline-block;
	position: relative;
	top: 500px;
	left: 1000px;
	z-index: 4;
}


/* Money vomit */
#money {
    display: none;
    position: relative;
    margin-top: 450px;
    left: 500px;
    z-index: 10;
}


/* Media Queries */
@media screen and (max-width: 1024px) {
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 600px) {
}

@media screen and (max-width: 480px) {
}

@media screen and (max-width: 320px) {
}


